.elems-box {
    /* group list */
    &::v-deep(> ul) {
        list-style: none;
        padding: 0;
        margin: 1rem;
        > li {
            /* group title */
            .title {
                font-weight: lighter;
            }

            /* element list */
            > ul {
                list-style: none;
                padding: 0 1rem;

                /* element  */
                > li {
                    margin: 0.5rem;
                    border: 1px solid #409eff;
                    text-align: center;
                    padding: 0.3rem 0.5rem;
                    border-radius: 0.2rem;
                    display: inline-block;

                    > a {
                        color: black;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}